<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 2 + 2 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sint consequuntur asperiores enim eveniet quasi accusantium, iste minima tenetur mollitia eligendi, quis consequatur sed quas maiores harum hic. Reiciendis delectus, aut inventore quod explicabo, fugit officiis temporibus placeat accusantium repellendus, tenetur animi ratione. Dolore, consequuntur pariatur expedita perspiciatis eaque libero.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate animi veniam illum illo harum, cum eius nisi autem aliquid et!</p>
    
<%- include('partials/footer') %>